.App {
  text-align: center;
  margin: 0;
}

.charts-component {
  padding: 0 10rem;
}

.customers-chart-component {
  border: 1px solid black;
  /* width: 600px; */
  padding: 0 2rem 1rem 2rem;
  margin-bottom: 1rem;
}

.head-title {
  margin: 0;
  background-color: bisque;
  padding: 1rem;
  margin-bottom: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
